.chat-container {
    margin: 10px;
}

.chat-timestamp {
    font-weight: bold;
}

.chat-name {
    font-style: italic;
}

.chat-box {
    background-color: white;
    border: 1px solid white;
    margin-bottom: 20px;
    padding: 5px;
}

.chat-content {
    font-size: 20px;
}

.chat-submit-container {
    display: flex;
    margin: 10px 10px 100px 10px;
}

.chat-submit {
    border: 1.5px solid #834f95;
    margin: 0px 10px;
    font-size: 18px;
}

.chat-input {
    width: 100%;
    background-color: #eadcf6;
    border: none;
    border-bottom: 1px solid #834f95;
    font-size: 18px;
    border-radius: unset;
}

.chat-input:focus {
    outline: none;
}

.flex-chat {
    flex-grow: 2;
}

.chat-intro {
    font-size: 18px;
    color: #834f95;
}

.google-button {
    background-color: #f7f7c7;
    width: 100%;
    font-size: 18px;
    padding: 5px;
    margin: 30px 0px;
    font-weight: bold;
}

.logout {
    margin: 0px 0px 20px 0px;
}

.scroll-to-bottom {
    height: 600px;
}

@media only screen and (min-width: 668px) {
    .messages-container {
        width: 700px;
        margin: auto;
    }
    .chat-intro {
        text-align: center;
    }
    .google-button-container {
        text-align: center;
    }
    .google-button {
        width: 50%;
    }
    .chat-submit-container {
        width: 700px;
        margin: auto;
        margin-bottom: 100px;
    }
}
