.gif-content {
    margin: 0px 10px;
}

.gif-image {
    height: 300px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 100px;
}

.gif-button-container {
    text-align: center;
    margin: 20px;
}

.button {
    font-size: 18px;
    font-weight: bold;
    color: #834f95;
    border: 2px solid white;
    outline: none;
    padding: 5px;
}
