.logo {
    text-align: center;
    font-style: italic;
    font-size: 26px;
    padding: 10px;
    background-color: #834f95;
    color: white;
    border-bottom: 1px solid white;
}

.filters {
    padding: 5px;
}
