.filter-container {
    display: flex;
    justify-content: center;
}

.filter-header {
    font-size: 18px;
    color: #834f95;
    font-weight: bold;
    margin-top: 10px;
}

select {
    font-size: 16px;
    background-color: white;
    margin: 10px;
    color: #834f95;
    border: 1.5px solid #834f95;
    height: 25px;
}

.dogs-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px 50px 10px;
}

.loader {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: #834f95;
}

@media only screen and (max-width: 500px) {
    .dogs-container {
        flex-direction: column;
        margin: 20px 0px 50px 0px;
    }
}

@media only screen and (min-width: 568px) {
    .dogs-container {
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    .dogs-container {
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 992px) {
    .dogs-container {
        width: 1000px;
        margin: auto;
        margin-bottom: 100px;
    }
    select {
        width: 200px;
    }
}
