.dogs-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px 50px 10px;
    justify-content: center;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.dog-box {
    margin: 10px;
    border: 2px solid #834f95;
    background-color: white;
}

.dog-box img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    padding-top: 10px;
}

.dog-name {
    text-align: center;
    color: #834f95;
    font-weight: bold;
}
